use flake

export YEH_USER=$(sops decrypt --extract '["user"]' .env.yaml)
export YEH_PASS=$(sops decrypt --extract '["pass"]' .env.yaml)
export YEH_TOKEN=$(sops decrypt --extract '["token"]' .env.yaml)
export YEH_IMAP_HOST=0.0.0.0
export YEH_IMAP_PORT=10993
export YEH_SMTP_HOST=0.0.0.0
export YEH_SMTP_PORT=10465
