use flake

export YEH_DOMAIN=app.hey.com

export YEH_USER=$(sops decrypt --extract '["user"]' .env.yaml)
export YEH_PASS=$(sops decrypt --extract '["pass"]' .env.yaml)
export YEH_ASID=$(sops decrypt --extract '["asid"]' .env.yaml)
export YEH_CSRF=$(sops decrypt --extract '["csrf"]' .env.yaml)
export YEH_COOKIE=$(sops decrypt --extract '["cookie"]' .env.yaml)

export YEH_IMAP_HOST=0.0.0.0
export YEH_IMAP_PORT=10993

export YEH_SMTP_HOST=0.0.0.0
export YEH_SMTP_PORT=10465
